<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlueDVAMBEServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ser2net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <BlueDVAMBEServer.Properties.Settings>
            <setting name="comport" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="baudrate" serializeAs="String">
                <value>230400</value>
            </setting>
            <setting name="UDPport" serializeAs="String">
                <value>2460</value>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </BlueDVAMBEServer.Properties.Settings>
        <ser2net.Properties.Settings>
            <setting name="comport" serializeAs="String">
                <value>COM4</value>
            </setting>
        </ser2net.Properties.Settings>
    </userSettings>
</configuration>
